Source: qt5-cameraplugin-aal
Section: libs
Priority: optional
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Build-Depends: debhelper (>= 13),
               libgl1-mesa-dev | libgl-dev,
               libgles2-mesa-dev,
               libhybris-dev,
               libpulse-dev,
               libqt5opengl5-dev,
               libqt5sensors5-dev,
               qtdeclarative5-dev,
               pkg-config,
               pkg-kde-tools,
               qt5-qmake,
               qtmultimedia5-dev,
               libpulse-dev,
               libexiv2-dev,
               libandroid-properties-dev,
               android-headers,
               qtdeclarative5-private-dev
Standards-Version: 3.9.4
Homepage: https://github.com/droidian/qt5-cameraplugin-aal

Package: qt5-cameraplugin-aal
Architecture: amd64 armhf i386 arm64
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Camera plugin that talks to Android by using Aal+
 A QtMultimedia camera plugin that talks to Android by using Aal+
